body {
    background: #AAAAAA;
}

/*  ^the nav style^ */
#navList {
    list-style-type: none;
    margin: 0;
    padding: 0;

    overflow: hidden;
    background-color: #333;
}


.navElement {
    float: left;
}


.navElement a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.navElement a:hover {
    background-color: #111;
}
/*  ^the nav style^ */

/* the buttons style */
.canvas_button {
    user-select: none;
    color: #fff;
    text-transform: uppercase;
    background: forestgreen;
    padding: 20px;
    border-radius: 5px;
    display: inline-block;
    border: none;
    transition: all 0.4s ease 0s;
}

.canvas_button:hover {
    background: #434343;
    letter-spacing: 1px;
    box-shadow: 5px 40px 10px rgba(0,0,0,0.57);
    transition: all 0.4s ease 0s;
}

.delete {
    background: #ed3330;
}

.deleteCursor {
    cursor: no-drop;
}

.clicked {
    background: #434343;
}
/* the buttons style */

#main_canvas {
    border: 3px black solid;
    background: whitesmoke;
    width: 50%;
    height: 500px;
}

@media only screen and (max-width: 660px) {
 #main_canvas {
     height: 200px;
 }
}

/*********************************/
{box-sizing: border-box;}
/* The Weight Popup - hidden by default */
.weight-popup {
    display: none;
    position: fixed;
    bottom: 50%;
    right: 50%;
    border: 3px solid #f1f1f1;
    z-index: 9;
}
/* Add styles to the container */
.weight-container {
    max-width: 300px;
    padding: 10px;
    background-color: white;
}
/* Full-width input fields */
.weight-container input[type=number]{
    width: 90%;
    padding: 15px;
    margin: 5px 0 22px 0;
    border: none;
    background: #f1f1f1;
}
/* When the inputs get focus, do something */
.weight-container input[type=number]:focus {
    background-color: #ddd;
    outline: none;
}
/* Set a style for the button */
.weight-container .btn {
    background-color: #4CAF50;
    color: white;
    padding: 16px 20px;
    border: none;
    cursor: pointer;
    width: 100%;
    margin-bottom:10px;
    opacity: 0.8;
}
/* Add a red background color to the cancel button */
.weight-container .cancel {
    background-color: red;
}
/* Add some hover effects to buttons */
.weight-container .btn:hover, .open-button:hover {
    opacity: 1;
}
/*********************************/
