body {

    background: #AAAAAA;
    pointer-events: auto;
    opacity: 100%;
    font-family: sans-serif;
    overflow-x: hidden;
    overflow-y: hidden;

}

.edges-container {
    width: 300px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: absolute;
    top: 20%;
    left: 50%;
}

.edge {
    font-family: sans-serif;
    font-weight: bold;
    height: 30px;
    display: flex;
    justify-content: space-around;
    text-align: left;

}

.edge-info.removeEdgeBtn, .confirm {
    border: none;
    background-color: #018786;
    font-weight: bold;
    color: #fff;
    padding: 5px;
    font-size: 15px;

}

.edge-info, .header {
    padding: 5px;
    width: 100%;
    color: #222222;
    background-color: #f3f3f3;
    text-align: center;
    border-bottom: 1px solid #009879;
}


.edge-info.removeEdgeBtn:hover, .confirm:hover {
    background-color: #009879;
}

.confirm {
    padding: 10px;
}


.header {
    width: 100%;
    color: #fff;

    background-color: #009879;

}

#navBar {
    height: 8%;
    width: 80%;
}


/*  ^the nav style^ */
#navList {
    list-style-type: none;
    margin: 0;
    padding: 0;

    overflow: hidden;
    background-color: #333;
}


.navElement {
    text-align: center;
}


.navElement a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.navElement a:hover {
    background-color: #111;
}

/*  ^the nav style^ */
.canvas_buttons{
    display: flex;
    flex-direction:row;
    align-items: flex-start;
    justify-content:center;
    text-align: center;
    height: 15%;
    width: 90%;

}
/* the buttons style */
.canvas_button {
    user-select: none;
    color: #fff;
    text-transform: uppercase;
    background: forestgreen;
    padding: 20px;
    border-radius: 5px;
    display: inline-block;
    border: none;
    width : 18%;
    transition: all 0.4s ease 0s;
}




.deleteCursor {
    cursor: no-drop;
}



/* the buttons style */

#main_canvas {
    border: 3px black solid;
    background: whitesmoke;
    margin-bottom: 0.5%;

}


/*********************************/
{
    box-sizing: border-box
;
}
/* The Weight Popup - hidden by default */
.weight-popup, .edge-popup {
    display: none;
    position: absolute;
    top: 20%;
    left: 50%;
    border: 3px solid #f1f1f1;
    z-index: 9;
}

/* Add styles to the container */
.weight-container, .edge-container {
    max-width: 300px;
    padding: 10px;
    background-color: white;
}

/* Full-width input fields */
.weight-container input[type=number] {
    width: 90%;
    padding: 15px;
    margin: 5px 0 22px 0;
    border: none;
    background: #f1f1f1;
}

/* When the inputs get focus, do something */
.weight-container input[type=number]:focus {
    background-color: #ddd;
    outline: none;
}

/* Set a style for the button */
.weight-container .btn {
    background-color: #4CAF50;
    color: white;
    padding: 16px 20px;
    border: none;
    cursor: pointer;
    width: 100%;
    margin-bottom: 10px;
    opacity: 0.8;
}

/* Add a red background color to the cancel button */
.weight-container .cancel {
    background-color: red;
}

/* Add some hover effects to buttons */
.weight-container .btn:hover, .open-button:hover {
    opacity: 1;
}

/*********************************/

/* context-menu style */
.context-menu {
    display: none;
    position: absolute;
    z-index: 10;
    list-style: none;
    background-color: white;
    align-items: center;
}

.context-menu-active {
    display: block;
}

.context-menu_item {
    list-style: none;
    margin: 0;
    padding: 10px;
    user-select: none;
}

.context-menu_item:hover {
    background-color: dodgerblue;
    color: white;
}
/******************/

/* matrix style */
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.4);

}

.matrix-content {
    background-color: #fefefe;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    border-radius: 10px;
}

.hide-matrix {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.hide-matrix:hover,
.hide-matrix:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

#matrix-size {
    text-align: center;
}

#matrix-size input {
    display: inline-block;
    width: 30%;
}

#matrix-table {
    text-align: center;
    justify-content: center;
}


#matrix-table table {
    margin: 10px auto 0;
    width: 50%;
}

#matrix-table input {
    width: 90%;
    margin: auto;
    border: 0;
}

#matrix-table input:focus{
    outline: none;
}

#draw_matrix {
    display: none;
    margin: 0 auto;
}
/**********************/
.hide-textarea {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.hide-textarea:hover,
.hide-textarea:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

#textarea textarea {
    width: 100%;
    height: 100%;
    min-height: 300px;
    box-sizing: border-box;
}

.textarea-content {
    background-color: #fefefe;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    border-radius: 10px;
}

#draw_graph_from_text {
    display: block;
    margin: 0 auto;
}
/**********************/
input[type=range] {
    outline: none; /* Removes the blue border. You should probably do some kind of focus styling for accessibility reasons though. */
    color: white;
}
.NodeRangeConatiner{
    display: flex;
    justify-items: flex-start;
}
.colorPicker{
    display: flex;
    justify-content: space-between;
}
.colorInput{
    width: 20%;
    height: 40px;
    margin-top: 6px;
    border-radius:5px;
    padding: 0;
}
.addColor {
    width: 33%;
    height: 40px;
    margin-top: 6px;
    color: white;
    border-radius: 2px;
    background-color: #009879;
}
/**********************/
.save button {
    display: inline-block;
    color:  darkslategrey;
    background-color: white;
    border: 1px solid black;
    border-radius: 5px;
    margin: 5px;
}

.save button:hover {
    color: white;
    background-color: #4CAF50;
    cursor: pointer;
}