/****
default style
*****/
.toolbox {
    position: fixed;
    top: 0;
    left: 0;
    width: 50px;
    height: 8vh;
    /*border-right: 3px white solid;*/
    transition: width 0.3s, height 0.3s;
    transition-delay: 0s, .5s;

    background-color: #fff;
    border-radius: 5px 0 0 5px;
    /*box-shadow: 5px 5px 10px;*/

    overflow: hidden;
}

.toolbox .toggle {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 8vh;
    transition: .5s;
    background-color: #009879;
    cursor: pointer;
}

/****
insert the + in the toggler
****/
.toolbox .toggle::before {
    display: flex;
    justify-content: center;
    align-items: center;
    content: '+';
    font-size: 2em;
    width: 50px;
    height: 8vh;
    transition: 0.3s;
    color: #fff;
    font-weight: 400;
}

/*****
the open sidebar style
*****/
.toolbox.active_toolbox {
    width: 20%;
    height: 100%;
    transition: height 0.3s, width 0.3s;
    transition-delay: 0s, 0.5s;
    overflow-y: scroll;
    overflow-x: scroll;
}

/* Hide scrollbar */
.toolbox.active_toolbox::-webkit-scrollbar {
    display: none;
}

.toolbox.active_toolbox {
    -ms-overflow-style: none;
    scrollbar-width: none;
}

/****
the sidebar toggler style when opened
****/
.toolbox .toggle.active_toolbox {
    background-color: #018786;
}

.toolbox .toggle.active_toolbox::before {
    transform: rotate(315deg);
}
/*****
the sidebar elements style
*****/

/********/
.toolbox ul {
    position: absolute;
    left: 0;
    width: 100%;
    padding: 0;
}
/********/
.toolbox ul li {
    list-style: none;
    width: 100%;
    display: flex;
    text-decoration: none;
    color: darkslategrey;
    align-items: center;
}

.toolbox ul li:hover {
    background-color: #4caf50;
}

/****
tooltip style
****/
.toolbox ul li .tooltiptext {
    position: relative;
    display: none;
    width: 30%;
    padding: 10px;
    text-align: left;
    overflow-wrap: break-word;
    border-radius: 5px;
    background-color: rgba(0, 0, 0, .3);
    color: #fff;

}

.toolbox ul li:hover .tooltiptext {
    display: block;
}

/********/
.toolbox ul li .icon {
    display: block;
    min-width: 50px;
    height: 50px;
    text-align: center;
    line-height: 50px;
}

.toolbox ul li .icon:hover {
    filter: invert(72%) sepia(7%) saturate(3030%) hue-rotate(72deg) brightness(79%) contrast(98%);

}

/********/
.toolbox ul li .title {
    display: block;
    padding: 0 10px;
    line-height: 50px;
    text-align: start;
    white-space: nowrap;
    flex-grow:1;
}

/****
the sidebar space
****/
.sidebar-open-space {
    display: grid;
    grid-template-columns: 20% 80%;
}

/*****
the save buttons
*****/
.save button {
    display: inline-block;
    color:  darkslategrey;
    background-color: white;
    border: 1px solid black;
    border-radius: 5px;
    margin: 5px;
}

.save button:hover {
    color: white;
    background-color: #4caf50;
    cursor: pointer;
}
/***************/
.toolbox-group {
    margin: 10px;
    user-select: none;
}

.toolbox-group-header:hover {
    background-color: #4CAF50;
    color: white;

}
.toolbox-group-header {
    font-weight: bolder;
    height: 20px;
    text-align: left;
    align-items: center;
    justify-content: center;
}
