/*****
the body + the scrollbar
*****/
html,
body {
    width: 100%;
    height: 100%;
    margin: 0;
}

body {
    background: white;
    opacity: 100%;
    font-family: Calibri, serif;
    overflow-x: hidden;
    overflow-y: hidden;
}

/********************/

/***********
context-menu style
TODO: refactor (change the color and add the icons)
***********/
.context-menu {
    display: none;
    position: absolute;
    z-index: 10;
    list-style: none;
    background-color: white;
    align-items: center;
}

.context-menu-active {
    display: block;
}

.context-menu_item {
    list-style: none;
    margin: 0;
    padding: 10px;
    user-select: none;
}

.context-menu_item:hover {
    background-color: dodgerblue;
    color: white;
}

/******************/

/***********
Modal style
***********/
#Modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);
}

.Modal-content {
    background-color: #fefefe;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    border-radius: 10px;
}

.hide-Modal {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.hide-Modal:hover,
.hide-Modal:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

/**********************
matrix style
**********************/
#matrix-size {
    text-align: center;
}

#matrix-size input {
    display: inline-block;
    width: 30%;
}

#matrix-table {
    text-align: center;
    justify-content: center;
}

#matrix-table table {
    margin: 10px auto 0;
    width: 50%;
}

#matrix-table input {
    width: 90%;
    margin: auto;
    border: 0;
}

#matrix-table input:focus {
    outline: none;
}

#draw_matrix {
    display: none;
    margin: 0 auto;
}

/**********************
textarea style
**********************/
#textarea-content {
    background-color: #fefefe;
    width: 95%;
}

#graph_text {
    width: 100%;
    height: 100%;
    min-height: 300px;
    box-sizing: border-box;
}

#draw_graph_from_text {
    display: block;
    margin: 0 auto;
}

/************
The Header Style
************/
#header {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.header-elements {
    display: flex;
    justify-content: space-around;
    background-color: #018786;
    border: 3px;
    border-radius: 0 5px 5px 0;
    height: 8vh;
    width: 92vw;
}

.linkedin {
    text-decoration: none;
    color: white;
    font-size: 20px;
    font-family: Calibri, serif;
    display: flex;
    width: 18%;
    border-left: 3px #009879 solid;
    justify-content: space-around;
    align-items: center;
}

.linkedin:hover {
    transition-property: background-color;
    transition-duration: 0.5s;
    background-color: #009879;
}

#logo {
    display: flex;
    justify-content: center;
    width: 8vw;
    height: 10vh;
}
.logoimg {
    width: 100%;
    height: 100%;
}
.linkedin > span {
    width: 70%;
}

.linkedin > i {
    width: 10%;
}

/****************
the canvas style
****************/
#canvas_container {
    border: 3px #ececec solid;
    overflow-x: scroll;
    overflow-y: hidden;
    white-space: nowrap;
}

#canvas_container::-webkit-scrollbar {
    width: 7px;
    height: 12px;
}

#canvas_container::-webkit-scrollbar-track {
    background: white;
}

#canvas_container::-webkit-scrollbar-thumb {
    background-color: #009879;
    border-radius: 20px; /* roundness of the scroll thumb */
    border: 3px solid #009879; /* creates padding around scroll thumb */
}

#main_canvas {
    outline: none;
    border-radius: 5px;

    background: #fff;
}

.deleteCursor {
    cursor: no-drop;
}

/************
The Weight Popup
************/
.weight-container {
    width: 95%;
    display: flex;
    flex-direction: column;
}

#weight-input-text {
    /*padding: 0 45%;*/
    font-weight: bolder;
    text-align: center;
}

.weight-container input[type='number'] {
    width: 96%;
    padding: 15px;
    margin: 5px 0 22px 0;
    border: 3px solid #009879;
}

.weight-container input[type='number']:focus {
    background-color: white;
    outline: none;
}

.weight-container button {
    background-color: #009879;
    color: white;
    opacity: 1;
    cursor: pointer;
    height: 50px;
    width: 100%;
    margin-bottom: 10px;
}

.weight-container button:hover {
    opacity: 0.8;
}

/*******
    Edge popup With Info Style
*******/
.edges-container {
    width: 95%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.edge {
    font-family: sans-serif;
    font-weight: bold;
    height: 30px;
    display: flex;
    justify-content: space-around;
    text-align: left;
}

.edge-info.removeEdgeBtn,
.confirm {
    border: none;
    background-color: #018786;
    font-weight: bold;
    color: #fff;
    padding: 5px;
    font-size: 15px;
}

.edge-info,
.header {
    padding: 5px;
    width: 100%;
    color: #222222;
    background-color: #f3f3f3;
    text-align: center;
    border-bottom: 1px solid #009879;
}

.edge-info.removeEdgeBtn:hover,
.confirm:hover {
    background-color: #009879;
}

.confirm {
    padding: 10px;
}

.header {
    width: 100%;
    color: #fff;

    background-color: #009879;
}

/*****
    Node Size Button Style
*****/
input[type='range'] {
    outline: none; /* Removes the blue border. You should probably do some kind of focus styling for accessibility reasons though. */
    color: white;
}

.NodeRangeConatiner {
    margin-right: 30px;
    display: flex;
    justify-content: center;
}
/*****
    Node color Button Style
*****/

.colorPicker {
    display: flex;
    justify-content: space-between;
}

.colorInput {
    width: 20%;
    height: 35px;
    margin-top: 6px;
    border-radius: 5px;
    padding: 0;
}

.addColor {
    width: 33%;
    height: 35px;
    margin-top: 6px;
    color: white;
    border-radius: 2px;
    background-color: #009879;
}

.light_icon {
    filter: brightness(0%) invert(0.12);
}
/**********************/
